<head>
  <script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"3cedb1eeac873fcf8d4b996f42bd34324","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>
  <!-- Google Translater -->
<div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,hi,ml,gu,pa,ta,te,ur,ar,fr,ta', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: true}, 'google_translate_element');
        }

        //Languages Dropdown Style
        $('document').ready(function () {
            $('#google_translate_element').on("click", function () {

                // Change menu's padding
                $("iframe").contents().find('.goog-te-menu2-item-selected').css ('display', 'hide');

                // Change menu's padding
                $("iframe").contents().find('.goog-te-menu2').css ('padding', '0px');
				 $("iframe").contents().find('.goog-te-menu2').css ('overflow', 'scroll');

                // Change the padding of the languages
                $("iframe").contents().find('.goog-te-menu2-item div').css('padding', '20px 100px 20px 20px');

                // Change the width of the languages
                $("iframe").contents().find('.goog-te-menu2-item').css('width', '200px');
                $("iframe").contents().find('td').css('width', '200px');

                // Change the iframe's size and position?
                $(".goog-te-menu-frame").css({
                    'height': '43.5%',
                    'width': '200px',
                    'border-radius':'8px',
                    'top':'490px'
                });
                // Change iframes's size
                $("iframe").contents().find('.goog-te-menu2').css({
                    'height': '100%',
                    'width': '200px'
                });
            });
        });
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SMILE DENTAL CARE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <form method="GET" action="{% url 'services_search' %}">
  <input type="text" name="q" placeholder="Search...">
  <button type="submit" id="mySButton" name="searchButton">Search</button>
</form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span> </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About Us
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="services">Our Services</a>
              <a class="dropdown-item" href="doctors">Our Doctors</a>
              <a class="dropdown-item" href="{% url 'about' %}">About</a>
              <a class="dropdown-item" href="{% url 'contact' %}">Contact Us</a>
            </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            LOGIN
          </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="http://127.0.0.1:8000/admin/login/?next=/admin/">Admin</a>
              <a class="dropdown-item" href="doctorlogin">Doctor</a>
              <a class="dropdown-item" href="login">Patient</a>
            </div>
        </li>

      </ul>
    </div>
  </div>

</nav>